* {
    margin: 0;
    padding: 0;
}



body{
    width:100%;
    height:auto;
    background-image: url("img/arkplan.jpeg");
    background-size: cover;
    position: absolute;
}

.container-fluid {
    border-color: black;
    overflow: hidden;

}

.container-fluid .nav-item {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

}

.nav-item:hover {
    background-color: #ddd;
    color: black;

}

#nav-link{
    color: black;
}

.Giris {
    padding: 50px;
    justify-content: center;
    height: auto;
    text-align: center;
}

#element1 {
    display: inline-block;
    margin-right: 10px;
}

#element2 {
    display: inline-block;
    color: black;
}

.girisyazisi {
    font-weight: 800;
    margin-bottom: 70px;
}

.epostakutu {
    border-radius: 7px;
}

.sifre {
    border-radius: 7px;

}

.firmaButon .firmabuton {
    color: black;
    margin-top: 10px;
}

#sifreunut{
    color: black;
}

#ikon{
    color: #ddd;
}